# Dans tous les environnements, les fichiers suivants sont chargés s'ils existent,
# ces derniers ayant la priorité sur les précédents :
#
#  * .env                contient les valeurs par défaut des variables attendues par l'application
#  * .env.local          fichier non versionné pour surcharger localement
#  * .env.$APP_ENV       valeurs par environnement, versionnées
#  * .env.$APP_ENV.local surcharges environnement, non versionnées
#
# Les variables d'environnement système priment sur les fichiers .env.
#
# NE DÉFINISSEZ AUCUN SECRET DE PRODUCTION DANS CE FICHIER NI DANS AUCUN FICHIER VERSIONNÉ.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Exécutez "composer dump-env prod" pour compiler les fichiers .env pour la production
# (nécessite symfony/flex >= 1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=!ChangeMe!
TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format décrit sur https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT : La version du serveur doit être explicitée, ici ou dans config/packages/doctrine.yaml
#
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/pizzarico?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choisissez un des transports ci-dessous
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
